    <form class="form edit-item-form" data-id="{{id}}">
          <div class="form-group">
          <div class="item-row">
            <div class="mr-4">
              <label for="item-name" class="var-text-light custom-text-md mr-2">Item</label>
              <input class="form-input" type="text" id="item-name" name="item-name" />
            </div>
            <div class="ml-4">
              <label for="item-price" class="var-text-light custom-text-md mr-2">Price</label>
              <input class="form-input" type="text" id="item-price" name="item-price" />
            </div>
          </div>
          <div class="item-row">
            <div class="mr-4">
              <label for="list-exp" class="var-text-light custom-text-md">Event Name</label>
              <input class="form-input" type="text" id="list-name" name="list-name" />
            </div>
            <div class="ml-4">
              <label for="item-price" class="var-text-light custom-text-md mr-2">Event Date</label>
              <input class="form-input" type="text" id="list-exp" name="list-exp" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="list-exp" class="var-text-light custom-text-md">Link</label>
          <input class="form-input" type="text" id="item-link" name="item-link" />
        </div>
        <div class="form-group">
          <a href="/profile"><button type="submit" class="btn" id="create-list-btn">Update GiftPot!</button></a>
        </div>
    </form>

    <script src="./js/edit.js"></script>