<div class="row justify-center">
  {{!-- <div class="custom-border m-2 col-2" id="img-container">
    <img class="main-menu-img" src="/assets/images/Gift3.png" alt="A wrapped gift with a green bow and tea leaves on the wrapping paper">
  </div> --}}
  <div class="row justify-center col-md-5">
    <div class="custom-border-lg custom-bg-green3" id="login-menu">
      <h2 class="var-text-light text-center custom-text-xl">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login" class="var-text-light">Email</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login" class="var-text-light">Password</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group text-center">
          <button class="btn" type="submit" id="btn-xxl">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>

