<div class="row justify-center 100vh">
  <div class="col-3 text-center" id="img-container">
    <img class="login-img custom-border" src="/assets/images/Gift7.png" alt="A wrapped gift with a green bow and tea leaves on the wrapping paper">
    <img class="login-img custom-border" src="/assets/images/Gift8.png" alt="A wrapped gift with a green bow and tea leaves on the wrapping paper">
  </div>
  <div class="row col-5 justify-center">
    <div class="custom-border-lg custom-bg-green3" id="signup-menu">
      <h2 class="var-text-light text-center custom-text-xl">Sign Up</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup" class="var-text-light">Name</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup" class="var-text-light">Email</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup" class="var-text-light">Password</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group text-center">
          <button class="btn" type="submit" id="btn-xxl">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-3 text-center" id="img-container">
    <img class="login-img custom-border" src="/assets/images/Gift9.png" alt="A wrapped gift with a green bow and tea leaves on the wrapping paper">
    <img class="login-img custom-border" src="/assets/images/Gift10.png" alt="A wrapped gift with a green bow and tea leaves on the wrapping paper">
  </div>
</div>

<script src="/js/signup.js"></script>
