/*  * VARIABLES */ /* #region */
:root {
  --green1: #d5e7ba;
  --green2: #c9dfa8;
  --green3: #b0ce84;
  --green4: #a5c377;
  --green5: #94b661;
  --green6: #50662e;
  --light: #e8f3d7;
  --dark: #181d10;
}
/* #endregion */
/*  * MAJOR SELECTORS */ /* #region */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper,
.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--green1);
}

.wrapper {
  color: var(--light);
}

a:hover {
  text-decoration: none;
  color: var(--green6);
}

/* #endregion */
/*  * COLOR CLASSES */ /* #region */
.var-text-green1 {
  color: var(--green1);
}

.var-text-green2 {
  color: var(--green2);
}

.var-text-green3 {
  color: var(--green3);
}

.var-text-green4 {
  color: var(--green4);
}

.var-text-green5 {
  color: var(--green5);
}

.var-text-light {
  color: var(--light);
}

.var-text-dark {
  color: var(--dark);
}

.var-bg-green1 {
  background-color: var(--green1);
}

.var-bg-green2 {
  background-color: var(--green2);
}

.var-bg-green3 {
  background-color: var(--green3);
}

.var-bg-green4 {
  background-color: var(--green4);
}

.var-bg-green5 {
  background-color: var(--green5);
}

.var-bg-light {
  background-color: var(--light);
}

.var-bg-dark {
  background-color: var(--dark);
}


/* #endregion */
/*  * BTN */ /* #region */
.btn {
  border: 2px solid var(--light);
  background-color: var(--green5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: var(--light);
  cursor: pointer;
  transition: filter 0.4s ease;
}

.btn:hover {
  background-color: var(--green6);
  border: 2px solid var(--dark);
}
/* #endregion */
/*  * HEADER */ /* #region */
header {
  text-align: left;
  color: var(--light);
  background: var(--green3);
  padding: 1% 0;
  padding-left: 5%;
  border-bottom: 8px solid var(--green5);
}

header h1 {
  font-size: xxx-large;
}

a{
  text-decoration: none;
  color: var(--light);
}

/* #endregion */
/*  * LOGIN-MENU */ /* #region */

#login-menu {
  padding: 64px;
}

#login-menu label {
  text-decoration: underline;
  font-size: 24px;
  padding-left: 20px;
}

/* #endregion */
/*  * SIGNUP-MENU */ /* #region */
#signup-menu label {
  text-decoration: underline;
  font-size: 24px;
}

/* #endregion */
/*  * MAIN-LOGIN-DIV */ /* #region */
  #main-login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 8px;
  }
/* #endregion */
/*  * MAIN-LOGIN-BTNS */ /* #region */
#main-login-btns {
  margin: 4px;
  display: block;
  font-size: 32px;
}
/* #endregion */
/*  * CUSTOM CLASSES */ /* #region */
.custom-border {
  border: 2px solid var(--green5);
}

.custom-border-lg {
  border: 8px solid var(--green5);
}

.custom-text-xxl {
  font-size: 64px;
}

.custom-text-xl {
  font-size: 48px;
}

.custom-text-lg {
  font-size: 36px;
}

.custom-text-md {
  font-size: 24px;
}

.custom-text-sm {
  font-size: 18px;
}

.custom-underline {
  text-decoration: underline;
}

.custom-bg-green1 {
  background-color: var(--green1);
}

.custom-bg-green2 {
  background-color: var(--green2);
}

.custom-bg-green3 {
  background-color: var(--green3);
}

.custom-bg-green4 {
  background-color: var(--green4);
}

.custom-bg-green5 {
  background-color: var(--green5);
}

.custom-bg-light {
  background-color: var(--light);
}

.custom-bg-dark {
  background-color: var(--dark);
}

.custom-inline {
  display: inline-block;
}
/* #endregion */
/*  * DEVELOPING CODE */
#this {
  background-color: var(--dark);
}

.item-row {
  display: flex;
  align-items: center;
  padding: 4px;
}

#img-container {
  padding-left: 0;
  padding-right: 0;
  padding: 10px;
}

.main-menu-img {
  width: 100%
}

form .form-input {
  background-color: var(--light);
  border: 1px solid var(--green3);
}

#create-list-btn {
  font-size: 36px;
  margin: 10px;
}

#btn-xxl {
  font-size: xx-large;
}