/* VARIABLES */ /* #region */
:root {
    --green1: #d5e7ba;
    --green2: #c9dfa8;
    --green3: #b0ce84;
    --green4: #a5c377;
    --green5: #94b661;
    --light: #e8f3d7;
    --dark: #181d10;
  }
  /* #endregion */
  /* MAJOR SELECTORS */ /* #region */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body,
  .wrapper,
  .page {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--green1);
  }
  
  .wrapper {
    color: var(--light);
  }
  /* #endregion */
  /* BTN */ /* #region */
  .btn {
    border: 2px solid var(--light);
    background-color: var(--green3);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: var(--light);
    align-self: center;
    margin: 10px;
    padding: 30px 40px;
    cursor: pointer;
    filter: brightness(0.8);
    transition: filter 0.4s ease;
    font-size: xx-large;
  }
  
  .btn:hover {
    filter: brightness(1);
  }
  /* #endregion */
  /* HEADER */ /* #region */
  header {
    text-align: left;
    color: var(--light);
    background: var(--green3);
    padding: 1% 0;
    padding-left: 5%;
  }
  
  header h1 {
    font-size: xxx-large;
  }
  /* #endregion */
  /* PAGE */ /* #region */
  .page {
    position: relative;
    margin: 8px;
    border: 2px solid var(--light);
  }
  
  .page h2 {
    font-size: xx-large;
  }
  /* #endregion */
  /* MENU */ /* #region */
  .menu {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--green3);
    border-radius: 5px;
    border: 2px solid var(--light);
    text-align: left;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    font-size: larger;
  }
  
  .menu h2 {
    text-align: center;
    font-size: xxx-large;
    padding-bottom: 24px;
  }
  
  .menu input {
    width: 100%;
    background: var(--light);
    border: none;
    margin: 16px 0;
  }
  /* #endregion */
  /* LOGIN */ /* #region */
  #login  {
    position: absolute;
    top: 20%;
    left: 35%;
    max-width: 30%;
    flex-flow: column wrap;
    padding: 2% 5%;
    z-index: 2;
  }
  
  #login button {
    font-size: large;
    padding: 12px;
  }
  /* #endregion */
  /* FOOTER */ /* #region */
  footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark);
  }
  /* #endregion */
  /* STARTUP */ /* #region */
  .page {
    display: none;
  }
  
  #home,
  #login {
    display: flex;
  }
  /* #endregion */
  
  
  /* DEVELOPING CODE */